body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:22px;
    color:seashell;
    background-color:black;
    opacity: 0.9;
    
   

}
/* Header section styling */

header{
    height:69px;
    border-bottom: 1px solid seashell;
    padding: 0px;
    margin: 0px;
    position: sticky;
    top: 0px;
    background-color: black;
   
   
   
   
}

#imglogo{
    height:50px;
    padding-left: 10px;
    display: inline-flex;
    justify-content:flex-start;
    margin:2px;
   
}

navbar{
    display:inline-flex;
justify-content: flex-end;
float: right;
clear:both;

}


navbar  ul li{
    display:inline;
    text-decoration:underline;
    padding:10px;
}




/* section1*/

#section1{
height:700px;
background-image: url(mission-background.jpg);
padding: 0px;
margin: 0px;
border-top:1px solid seashell;
display: flex;
align-items: center;
background-repeat: no-repeat;
background-position: center;

}

h2, h4 {
text-align:center;
padding: 0px;

}

#firsthead{
    background-color: black;
    opacity: 1;
    width:1500px;
  height:120px;
}

/* styling section 2*/

#section2{ 
    width:1500px;
    padding: 0px;
    margin: 0px;
   
  
}

#container-section2{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}

.caption{
    text-align:center ;
}

.figure{
    width:300px;
    height:200px;
    padding: 10px;

}

.div1{
    margin:5px;
}

.caption{
    padding: 10px;
}

/* styling section 3*/ 

#section3{
    height: 500px;
    background-image: url(locations-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width:1500px;
   
}

#container{
    width:1500px;
    padding: 0px;
    margin:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    


}


.col{
    width:300px;
    background-color: black;
    opacity:1 ;
    text-align: center;
    padding:0px 10px 10px 10px;
    margin: 0px 20px 20px 20px;
    
}

.head3{
    text-align:center;
   margin-top:40px;
   opacity:0.6;
   padding-top: 40px;
}

.col:hover{
    border:1px solid red;
}

address{
    text-align: center;
}

footer{
    margin-left:20px;
    
}






